body{
	background-color: #ccc;
	color: #000;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 16px;
	margin: 0;
}

.container{
	width: 100%;
	text-align: center;
}

#main-nav{
	background: #333;
	color: #636ccc;
}

#main-nav ul{
	padding: 0px 15px;
}

#main-nav li{
	display:inline;
	padding: 20px;
	list-style: none;
}

#main-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

#main-nav a:hover{
	color:red;
}
#main-nav a:active{
	color: green;
}




.intro{
	border-bottom: 1px solid;
}

.intro img{
		height: 200px;
		width: 200px;

}
.social img{
	height: 50px;
	width: 50px;
}
.buttun{
	border: 0;
	padding: 15px;
	background-color:#5b8e7d;
	color: white;
}

a{
	text-decoration: none;
	color: white;

}

.buttun:hover{
	background: lime;

}

.Skills progress{
	background-color:pink;
	color: red;
	border-radius: 10px;

}

.footer{
	background: pink;
	padding: 30px 20px;
	color:black;
	text-decoration: none;
	font-style: italic;
	border-radius: 5px;
}